* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.slider {
  width: 50%;
  overflow: hidden;
}
.slider__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.slider__images,
.slider__texts {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.slider input {
  display: none;
}
.slider__img,
.slider__txt {
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: all 0.7s ease-in-out;
}
.slider__txt {
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 1.5rem;
  color: white;
}
.controls {
  display: flex;
  justify-content: end;
  z-index: 2;
}
.controls__button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.controls__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem white solid;
  background-color: transparent;
  transition: 0.5s;
}
.controls__button:hover .controls__dot{
  border: 0.1rem violet solid;
}
.controls__button:active .controls__dot{
  background-color: violet;
}



#point1:checked ~ .slider__images .img1,
#point1:checked ~ .slider__container .slider__texts .txt1 {
  margin-left: 0;
  opacity: 1;
  z-index: 1;
}
#point2:checked ~ .slider__images .img2,
#point2:checked ~ .slider__container .slider__texts .txt2 {
  transform: translateX(-100%);
  opacity: 1;
  z-index: 1;
}
#point3:checked ~ .slider__images .img3,
#point3:checked ~ .slider__container .slider__texts .txt3 {
  transform: translateX(-200%);
  opacity: 1;
  z-index: 1;
}
#point4:checked ~ .slider__images .img4,
#point4:checked ~ .slider__container .slider__texts .txt4 {
  transform: translateX(-300%);
  opacity: 1;
  z-index: 1;
}
#point5:checked ~ .slider__images .img5,
#point5:checked ~ .slider__container .slider__texts .txt5 {
  transform: translateX(-400%);
  opacity: 1;
  z-index: 1;
}

#point1:checked ~ .slider__container .controls .dot1 {
  background-color: white;
}
#point2:checked ~ .slider__container .controls .dot2 {
  background-color: white;
}
#point3:checked ~ .slider__container .controls .dot3  {
  background-color: white;
}
#point4:checked ~ .slider__container .controls .dot4 {
  background-color: white;
}
#point5:checked ~ .slider__container .controls .dot5  {
  background-color: white;
}

@media (max-width: 768px) {
  .slider__container {
  flex-direction: column;
  align-items: center;}
  .slider__text {
    align-self: flex-start;
  }
  .controls {
    order: -1;
    margin-bottom: 1rem;
  }
}